[tool.poetry]
name = "snakemake-executor-plugin-slurm"
version = "0.1.0"
description = "A Snakemake executor plugin for submitting jobs to a SLURM cluster."
authors = ["Johannes Koester <johannes.koester@uni-due.de>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
snakemake-interface-common = "^1.3.2"
snakemake-interface-executor-plugins = "^2.0.0"
throttler = "^1.2.2"

[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
flake8 = "^6.1.0"
coverage = "^7.3.1"
pytest = "^7.4.2"
snakemake = {git = "https://github.com/snakemake/snakemake.git", branch = "feat/api-rewrite"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
